### Composer ###
composer.phar
vendor/

### dotenv ###
.env

### PhpStorm ###
.idea/

### WordPress ###
public/wordpress/
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/twenty*/