### macOS ###
.DS_Store

### PhpStorm ###
.idea/

### Composer ###
composer.phar
vendor/

### dotenv ###
.env

### WordPress ###
public/wordpress/
public/wp-content/*

!public/wp-content/mu-plugins/
public/wp-content/mu-plugins/*

!public/wp-content/plugins/
public/wp-content/plugins/*
!public/wp-content/plugins/advanced-custom-fields-pro

!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/phatkoala.uk

### Node ###
node_modules/